body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(237, 218, 187);
}
/* ---------------- navigation bar style ---------------- */
header{
    font-family: cursive;
    display: flex;
    padding: 0 2%;
    justify-content: center;
    background-color: rgb(231, 229, 222);
    border-bottom: #011205;
    box-shadow: 0px 10px 10px #9d2b0443;
    height: 150px;
    margin-bottom: 200px;
    gap: 20px;
}
header img{
    padding: 18px 10px;
    border-radius: 45px;
}

header h1 {
    padding-top: 25px;
}

/* ---------------- Main content ---------------- */
#projects-intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1450px;
    margin: auto;
    gap: 75px 75px;
}
.projects-card{
    background-color: #e9e6f0;
    color: #1E1E1E;
    border-radius: 20px;
    width: 100px;
}
.projects-card div {
    padding:20px 25px;
}
.project-img{
    border-radius: 20px 20px 0 0;
    transition-duration: 0.3s;
    width: 100px;
    height: 100px;
}
.hover-img{
    filter: brightness(0.4);
}
.hover-review{
    opacity: 100%;
}

/* ---------------- All suits ---------------- */
#projects-con{
    width: 1260px;
    height: 1260px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.projects{
    background-color: #FB6376;
    height: 100%;
    transition-duration: 0.3s;
}
.projects:hover{
    box-shadow: 10px 10px 35px #00000043;
    cursor: pointer;
}
.vertical{
    grid-row: 1/3;
    grid-column: 3/4;
}
iframe{
    height: auto;
    width: 1000px;
}



@media (max-width:1150px){
    #intro h1{ font-size: 20px; color: #454fc1;}
}