{% extends "base.html"%}
{% load static%}

{% block description %}"This is my portfolio site for Data Analytics"{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block keywords%}data analytics{% endblock%}
{% block css %}{% static "projects/style.css"%}{% endblock%}
{% block title %}Data Analytics Portfolio{% endblock %}
{% block body %}

{% include "includes/nav.html" %}
<main id="projects-intro">
    <div class="projects-card">
        <img src="{% static "projects/img/excel-chart.png" %}" class="project-img" alt="excel chart">
        <div style="padding:20px 25px">
            <h3>Excel Project</h3>
            <p>Coming Soon</p>
            <a href="{% url "projectpage" "Excel Project"%}">View Project</a>
        </div>
    </div>

    <div class="projects-card">
        <img src="{% static "projects/img/tableauChart.png" %}" class="project-img"alt="tableau chart">
        <div style="padding:20px 25px">
            <h3>Capstone Project</h3>
            <p>Coming Soon</p>
            <a href="{% url "projectpage" "Capstone"%}">View Project</a>
        </div>
    </div>

    <div class="projects-card">
        <img src="{% static "projects/img/SQLdata_table.png" %}" class="project-img" alt="sql chart">
        <div style="padding:20px 25px">
            <h3>SQL Project</h3>
            <p>Coming Soon</p>
            <a href="{% url "projectpage" "SQL Project"%}">View Project</a>
        </div>
    </div>
</main>
{% endblock %}

